{% extends "layout.html" %}

{% block content %}
    <h1>Update Post</h1>
    <form method="POST">
        <div>
            <label>Title:</label>
            <!-- value="{{ post.title }}" pre-fills the box -->
            <input type="text" name="title" value="{{ post.title }}" required>
        </div>
        <br>
        <div>
            <label>Content:</label>
            <!-- Textareas act differently. The text goes BETWEEN the tags. -->
            <textarea name="content" rows="5" cols="40" required>{{ post.content }}</textarea>
        </div>
        <br>
        <button type="submit">Update Post</button>
    </form>
{% endblock %}